.searchBoxCont{
    position:relative;
    display:flex;
    justify-content:flex-end;
    margin-top:3%;
    line-height:100%;
    margin-right:2%;
    @media(orientation:portrait){
        margin-right:10%;
    }
}

.searchBox{
    width:25vw;
    height:5vh;
    font-family:Poppins;
    font-size:1rem;
    padding-left:1vw;
    border-width:0;
    border-radius:20px;
    @media(orientation:portrait){
        width:40vw;
    }
}

.searchIcon{
    display:flex;
    justify-content:center;
    align-items:center;
    background:transparent;
    color:black;
    padding:0.3%;
    cursor:pointer;
    position:absolute;
}
.searchIcon:hover{
    opacity:0.8;
}
.faSearch{
    font-size:3.7vh;
    margin:2%;
    color:black;
}